

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- DONT FORGET TO FILL THIS -->
  <meta name="description" content="Login">
  <meta name="keywords" content="L">
  <!-- I NEED A BIGGER VERSION OF LOGO -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  <link rel="stylesheet"  href="css/style.css">
  <title>Signin | Login</title>
</head>
<body>
  <!-- MAIN NAVBAR (THIS IS WHERE YOU WILL COPY FROM and the footer down below haha) -->
  <nav id="main-nav">
    <div class="container">
      <img src="./images/sentry.png" alt="Sentry Website Logo" class="logo">

      <ul>
        <li><a href="homepage.html" >Home</a></li>
        <li><a href="#services" >Services</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="register.html" class="current">Login/Register</a></li>
      </ul>
    </div>
  </nav>


<div class = "left-login">
<br><br><br>
<h1 class ="h1-left-login">Welcome to<br> Sentry!</h1>
<h2 class ="h2-left">Track your home security in real time</h2>
<br>
<h2>Do you want to Register?</h2>
  <br>
	<button type="Login" ><a href ="register.html"><b>Register</b></button>
</div>

<div class = "right-login">

 <div class ="login-form">

<h1 type="h1-right-login">Login</h1>
<br><br>

  <label type="email"><b>Email</b></label>
<br>
	<input type="email" placeholder="Enter Email" name="email" id="email" required></input></p>

<br>
    <label type="password"><b>Password</b></label>
<br><br>
    <input type="password" placeholder="Enter Password" name="password" id="password" required></input>


 <br> <br> <br> <br>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" style ="color: #"class="Login" href="dashboard.html">Login</button></p>

</div>
</div>



 
</body>
</html>