<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- DONT FORGET TO FILL THIS -->
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- I NEED A BIGGER VERSION OF LOGO -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  <link rel="stylesheet"  href="css/style.css">
  <title>Sentry | Add Room</title>
</head>
<body>
  <!-- MAIN NAVBAR (THIS IS WHERE YOU WILL COPY FROM and the footer down below haha) -->
  <nav id="main-nav">
    <div class="container">
      <img src="./images/sentry.png" alt="Sentry Website Logo" class="logo">

      <ul>
        <li><a href="index.html" class="current">Home</a></li>
        <li><a href="#services" >Services</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="register.html">Login/Register</a></li>
      </ul>
    </div>
  </nav>

  <!--left navigational bar-->
  <div class="left_nav">
    <i class="fas fa-home fa-4x"></i>
    <li>Emma's Home</li>
    <br>
    <li><a href="#Livingroom">Living Room</a></li>
    <li><a href="#Kitchen">Kitchen</a></li>
    <li><a href="#Bedroom1">Bedroom1</a></li>
    <li><a href="#Foyer">Foyer</a></li>
    <br>
    <br>
    <li>--------</li>
      <li><a href="AddNewRoom.html">Add New Room</a></li>
      <li><a href="Setting.html">Settings</a></li>
      </div>

    <section id="new-room">
      <div class="container">
        <div class="new-room-form">
          <h2>Add New Room</h2>
          <form action="">
            <label for="room-name">Room Name</label>
            <input type="text" name="rname" id="room-name">
            <label for="new-device">Device 1</label>
            <input type="text" name="dname" id="new-device">
            <label for="new-device">Device 2</label>
            <input type="text" name="dname" id="new-device">
            

            <input type="submit" value="save room" class="h-btn">
            
          </form>

          <div class="new-device-icon">
            <i class="fas fa-plus-circle fa-2x"></i>
            <p>Add Another Device</p>
          </div>
          
        </div>
      </div>
    </section>

</body>
</html>