<!DOCTYPE html>
<HTML>
 <HEAD>
  <TITLE> Register </TITLE>

	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- DONT FORGET TO FILL THIS -->
  <meta name="description" content="Register">
  <meta name="keywords" content="Register">
  <!-- I NEED A BIGGER VERSION OF LOGO -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
  <link rel="stylesheet"  href="css/style.css">
     <title>Sentry | Register</title>
  </HEAD>

 <BODY>

<!--top navigational bar-->
  <nav id="main-nav">
    <div class="container">
      <img src="./images/sentry.png" alt="Sentry Website Logo" class="logo">
      <ul>
        <li><a href="homepage.html" >Home</a></li>
        <li><a href="#Service" >Service</a></li>
        <li><a href="#Contact">Contact</a></li>
        <li><a href="login.html" class="current">Login/Register</a></li>
      </ul>
    </div>
  </nav>


<div class="left-login">
<br>
<br><br>
<h1 type ="h1-left-login">Welcome to <br>Sentry!</h1>
<h2 type ="h2-left-login">Track your home security in real time</h2>
<br>
<h2 type ="h2-left-login">Already have an account?</h2>
<br>
<p><button type = "Login" class="Login"><b><a href ="login.html">SIGN IN</a></b></button></p>
</div>

<div class ="right-login">

 <div class ="login-form">
<h1 type="h1-right-login">Registration</h1>
<br>
<label type= "f_name"><b>Full Name</b></label>

	 <p><input type="f_name" placeholder="First Name" name="f_name" id="f_name" required></input>
&nbsp <input type="l_name" placeholder="Last Name" name="l_name" id="l_name" required></input></p>
<br>
    <label type="email"><b>Email</b></label>

	<p> <input type="email" placeholder="Enter Email" name="email" id="email" required></input></p>
<br>
    <label type="password"><b>Password</b></label>
<br><br>
    <input type="password" placeholder="Enter Password" name="password" id="password" required></input>
<br><br>
    <label type="psw-repeat"><b>Verify Password</b></label>
<br><br>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required></input>
  <br>
<br><br>
 <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 <button type="submit" style ="color: #"class="registerbtn">Submit</button></p>
</div>
</div>
 </BODY>
</HTML>
